:2022 {
        metrics /metrics
}

{$SITE_ADDRESS} {

    log {
        output stdout
        format console
    }

	handle /api/* {
		reverse_proxy server:{$SERVER_PORT} {
		    health_uri /api/health/serverAlive
		    health_interval 60s
		    health_timeout 10s
		}
	}


	handle {
        root * /client
	    encode gzip
        try_files {path} /index.html
        header /assets/* Cache-Control max-age=31536000,immutable
        file_server
    }

}

{$GRAFANA_ADDRESS} {

    reverse_proxy grafana:3000

}
