{$SITE_ADDRESS} {

    log {
        output stdout
        format console
    }

	handle /api/* {
		reverse_proxy server:{$SERVER_PORT}
	}


	handle {
        root * /client
	    encode gzip
        try_files {path} /index.html
        header /assets/* Cache-Control max-age=31536000,immutable
        file_server
    }

}
