table.dashboard-table tr.overdue {
    background:rgba(235, 77, 75, 0.9)
}
table.dashboard-table tr.within-week {
    background:rgba(235, 77, 75, 0.7)
}
table.dashboard-table tr.within-month {
    background:rgba(235, 77, 75, 0.2)
}
table.dashboard-table tr.within-year {
    background:rgba(235, 77, 75, 0)
}
table.dashboard-table tr.more-than-year {
    background:rgba(186, 220, 88, 0.4)
}
